<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Created training session</title>
    <div th:include="model/header :: header"></div>


    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            $("#saveChangesButton").click(saveChanges());

            $("#sortable").sortable({
                start: function (event, ui) {
                    var startPos = ui.item.index();
                    ui.item.data('startPos', startPos);
                    console.log("start position: " + startPos);
                },
                change: function(event, ui){
                    var startPos = ui.item.data('startPos');
                    var index = ui.placeholder.index();
                    console.log("index: " + index + " start position: " +startPos);

                },
                update: function (event, ui) {
                    var updatePos = ui.item.index();
                    ui.item.data('updatePos', updatePos);
                    console.log("updated position: " + updatePos);

                } 
            });

            function saveChanges(){
                var blocks = new Array();
                $("#sortable li").each(function (index) {
                    var block = new Object();

                    block.Id = $(this).attr('block-id');
                    block.ColumnOrder = index;
                    blocks.push(block);

                });
                var id = $(this).attr('training-id');
                var page =  '/saveChanges/' +id;


                $.ajax({
                    type: 'POST',
                    url: page,
                    data: JSON.stringify(blocks),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        window.location.href = "/training/"+id;

                    }

                })
            }

        });


    </script>


</head>
<body>
<div th:include="model/topMenu :: topMenu"></div>

<div class="container-fluid">
    <h1></h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>training Name</th>
            <th>Trainer</th>
            <th>Time</th>
            <th>Tags</th>
        </tr>
        <tr>
            <td th:text="${training.id}">Id</td>
            <td th:text="${training.title}">training Name</td>
            <td th:text="${training.trainer}">Trainer</td>
            <td th:text="${training.length}">Time</td>
            <td th:text="${training.tags}">Tags</td>

        </tr>
    </table>
    <div  class="col-md-12">
        <ul id="sortable" class="ui-sortable list-group">
            <li id="listElement" class="card ui-state-default list-group-item" th:each="block : ${training.blocks}" >
                <div class=" col-md-12 card-success card-title text-center" th:text="${block.title}"></div>
                <div class="col-md-12 card-subtitle text-center" th:text="${block.category}"></div>
                <div class="col-md-2 card-subtitle text-center" th:attr="block-id=${block.id}" th:text="${block.id}"></div>
                <div class="card-text col-md-8 text-center" th:text="${block.description}"></div>
                <div class="card-text col-md-2 text-center" th:text="${block.minutes}"></div>

                <!--block_id={} order=-->
                <!--<div class="card-text col-md-2 text-center" th:text="${block.order}"></div>-->
            </li>
        </ul>
        <button id="saveChangesButton" th:attr="updated-blocks=${training.blocks}, training-id=${training.id}" >Save changes</button>
    </div>

<!--    <button onclick="createBlock()">Create new block</button>-->


    <form th:action="@{'/new_block/'+${training.id}}" th:object="${block}" id="newBlock2" method="post">
        <table class="table">
            <tr>
                <td>Title:</td>
                <td><input type="text" name="title"/> </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" name="description"/></td>
            </tr>
            <tr>
                <td>Time:</td>
                <td><input type="text" name="minutes"/></td>
            </tr>
        </table>

        <div class="form-group label-floating">
            <label class="control-label">Category</label>
            <select class="form-control" type="text" name="category">
                <option value="THEORY">theory</option>
                <option value="EXERCISE">exercise</option>
                <option value="DISCUSSION">discussion</option>
                <option value="DEBRIEFING">debriefing</option>
                <option value="ENERGIZER">energizer</option>
                <option value="BREAK">break</option>
            </select>
        </div>
        <input type="submit" th:value="Submit"/>
    </form>
</div>

</body>


</html>
