<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Created training session</title>
    <div th:include="model/header :: header"></div>

 <!--   <script>
        function createBlock(){
            document.getElementById("newBlock").style.display="block";
        }
    </script>-->
    <script type="text/javascript">
        jQuery.fn.swap = function(b){
            // method from: http://blog.pengoworks.com/index.cfm/2008/9/24/A-quick-and-dirty-swap-method-for-jQuery
            b = jQuery(b)[0];
            var a = this[0];
            var t = a.parentNode.insertBefore(document.createTextNode(''), a);
            b.parentNode.insertBefore(a, b);
            t.parentNode.insertBefore(b, t);
            t.parentNode.removeChild(t);
            return this;
        };


        $( ".card" ).draggable({ revert: true, helper: "clone" });

        $( ".card" ).droppable({
            accept: ".card",
            activeClass: "ui-state-hover",
            hoverClass: "ui-state-active",
            drop: function( event, ui ) {

                var draggable = ui.draggable, droppable = $(this),
                        dragPos = draggable.position(), dropPos = droppable.position();

                draggable.css({
                    left: dropPos.left+'px',
                    top: dropPos.top+'px'
                });

                droppable.css({
                    left: dragPos.left+'px',
                    top: dragPos.top+'px'
                });
                draggable.swap(droppable);
            }
        });
    </script>

</head>
<body>
<div th:include="model/topMenu :: topMenu"></div>

<div class="container-fluid">
    <h1></h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>training Name</th>
            <th>Trainer</th>
            <th>Time</th>
            <th>Tags</th>
        </tr>
        <tr>
            <td th:text="${training.id}">Id</td>
            <td th:text="${training.title}">training Name</td>
            <td th:text="${training.trainer}">Trainer</td>
            <td th:text="${training.length}">Time</td>
            <td th:text="${training.tags}">Tags</td>

        </tr>
    </table>
    <div  class="col-md-12 ui-state-default"  th:each="block : ${training.blocks}">
        <ul id="items" class="card ">
            <li>
                <div class=" col-md-12 card-success card-title text-center" th:text="${block.title}"></div>
                <div class="col-md-12 card-subtitle text-center" th:text="${block.category}"></div>
                <div class="col-md-2 card-subtitle text-center " th:text="${block.id}"></div>
                <div class="card-text col-md-8 text-center" th:text="${block.description}"></div>
                <div class="card-text col-md-2 text-center" th:text="${block.minutes}"></div>
            </li>
        </ul>
    </div>

<!--    <button onclick="createBlock()">Create new block</button>-->


    <form th:action="@{'/new_block/'+${training.id}}" th:object="${block}" id="newBlock2" method="post">
        <table class="table">
            <tr>
                <td>Title:</td>
                <td><input type="text" name="title"/> </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" name="description"/></td>
            </tr>
            <tr>
                <td>Time:</td>
                <td><input type="text" name="minutes"/></td>
            </tr>
        </table>

        <div class="form-group label-floating">
            <label class="control-label">Category</label>
            <select class="form-control" type="text" name="category">
                <option value="THEORY">theory</option>
                <option value="EXERCISE">exercise</option>
                <option value="DISCUSSION">discussion</option>
                <option value="DEBRIEFING">debriefing</option>
                <option value="ENERGIZER">energizer</option>
                <option value="BREAK">break</option>
            </select>
        </div>
        <input type="submit" th:value="Submit"/>
    </form>
</div>

</body>
</html>

