<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update training</title>
    <div th:include="model/header :: header"></div>

</head>
<body>

<div class="jumbotron">
    <form  action="#" th:action="@{/update}" th:object="${training}" method="post">
        <div class="form-group " >
            <label class="control-label">Id</label>
            <input type="text" class="form-control" th:field="*{id}"/>
        </div>
        <div class="form-group " >
            <label class="control-label">Title</label>
            <input type="text" class="form-control" th:field="*{title}"/>
        </div>
        <div class="form-group " >
            <label class="control-label">Trainer</label>
            <input type="text" class="form-control" th:field="*{trainer}"/>
        </div>
        <div class="form-group " >
            <label class="control-label">Time</label>
            <input type="text" class="form-control" th:field="*{length}"/>
        </div>
        <div class="form-group " >
            <label class="control-label">Blocks</label>
            <input type="text" class="form-control" th:field="*{blocks}"/>
        </div>
        <input type="submit" th:value="Submit"/>
    </form>
</div>


<button id="createBlock" class="float-left submit-button" >Create new block</button>

</body>
</html>