<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create user</title>
    <div th:include="model/header :: header"></div>

</head>
<body>
<div th:include="model/indexMenu :: indexMenu"></div>
<div class="container-fluid image-in-the-background">
<div class="col-lg-4 col-md-6 col-sm-10 image-in-the-background">
<div class="container">
    <div class="jumbotron">
        <form  id="newUser" action="#" th:action="@{/createUser}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input id="firstName" class="form-control" type="text" th:field="*{firstName}"/>
        </div>
        <div class="form-group label-floating">
            <label for="lastName">Last name</label>
            <input id="lastName" class="form-control" type="text" th:field="*{lastName}"/>
        </div>
        <div class="form-group label-floating">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" th:field="*{email}"/>
        </div>
        <div class="form-group label-floating">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" th:field="*{password}"/>
        </div>
        <div class="form-group label-floating">
            <label for="role">Role</label>
            <select id="role" class="form-control" th:field="*{roles}">
                <option value="ADMIN">ROLE_ADMIN</option>
                <option value="USER">ROLE_USER</option>
            </select>
        </div>
            <button class="btn btn-primary btn-raised" type="submit" th:value="Submit">Log in</button>
    </form>
</div>
</div>
</div>
</div>
</body>
</html>