<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Block</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/resources/bootstrap-4.0.0-alpha.4/dist/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="/startbootstrap-creative-gh-pages/css/creative.min.css" rel="stylesheet" media="screen"/>

</head>
<body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/startbootstrap-creative-gh-pages/js/creative.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Time</th>
    </tr>
    <tr>

        <td th:text="${block.id}">Id</td>
        <td th:text="${block.title}">Title</td>
        <td th:text="${block.description}">Description</td>
        <td th:text="${block.minutes}">Time</td>
    </tr>
</table>

</body>
</html>