<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trained on - blocks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/simple.css"
          th:href="@{css/simple.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<h1>Blocks</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Time</th>
    </tr>
    <tr th:each="block : ${blocks}">
        <td th:text="${block.id}">Id</td>
        <td th:text="${block.title}">Title</td>
        <td th:text="${block.description}">Description</td>
        <td th:text="${block.minutes}">Time</td>
    </tr>
</table>

</body>
</html>