<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Trained on</title>
    <div th:include="model/header :: header"></div>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>

    <script>
        function rowClicked(value){
            location.href="/form/" + value;
        }
    </script>


</head>
<body>

<div th:include="model/indexMenu :: indexMenu"></div>

    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid jumbotron-homepage">


    </div>
</div>
</body>
</html>

