<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update block</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/simple.css"
          th:href="@{css/simple.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<form  action="#" th:action="@{/update_block}" th:object="${block}" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}"/> </td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/> </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input type="text" th:field="*{minutes}"/></td>
        </tr>
    </table>
    <input type="submit" th:value="Submit"/>
</form>


</body>
</html>