<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update block</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/resources/bootstrap-4.0.0-alpha.4/dist/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="/startbootstrap-creative-gh-pages/css/creative.min.css" rel="stylesheet" media="screen"/>

</head>
<body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/startbootstrap-creative-gh-pages/js/creative.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<div class="jumbotron">
    <form  action="#" th:action="@{/update_block}" th:object="${block}" method="post">
        <div class="form-group label-floating">
            <label class="control-label"> Title:</label>>
            <input type="text" class="form-control" th:field="*{title}"/>
        </div>
        <div class="form-group label-floating">
            <label class="control-label"> Descrition:</label>
            <input type="text" class="form-control"  th:field="*{description}"/>
        </div>
        <div class="form-group label-floating">
            <label class="control-label"> Descrition:</label>
            <input type="text" class="form-control" th:field="*{minutes}"/>
            </tr>
        </div>
        <input type="submit" th:value="Submit"/>
    </form>
</div>

</body>
</html>