<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create block</title>
    <div th:include="model/header :: header"></div>
</head>
<body>
<div th:include="model/topMenu :: topMenu"></div>

<div class="col-md-8">
    <div class="jumbotron">
        <form  id="newBlock" action="#" th:action="@{/blockForm}" th:object="${block}" method="post">
            <div class="form-group label-floating">
                <label class="control-label"> Title:</label>
                <input type="text" class="form-control" th:field="*{title}"/>
            </div>
            <div class="form-group label-floating">
                <label class="control-label"> Descrition:</label>
                <input type="text" class="form-control"  th:field="*{description}"/>
            </div>
            <div class="form-group label-floating">
                <label class="control-label"> Time:</label>
                <input type="text" class="form-control" th:field="*{minutes}"/>
            </div>
            <div class="form-group label-floating">
                <label class="control-label">Category</label>
                <select class="form-control" th:field="*{category}">
                    <option value="THEORY">theory</option>
                    <option value="EXERCISE">exercise</option>
                    <option value="DISCUSSION">discussion</option>
                    <option value="DEBRIEFING">debriefing</option>
                    <option value="ENERGIZER">energizer</option>
                    <option value="BREAK">break</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-raised" th:value="Submit"/>
        </form>
    </div>
</div>
</body>
</html>