<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Delete block</title>
    <div th:include="model/header :: header"></div>
</head>
<body>
<div th:include="model/topMenu :: topMenu"></div>

<div class="jumbotron">
    <form  action="#" th:action="@{/delete_block}" th:object="${block}" th:method="delete">

        <input type="hidden" name="_method" value="delete"/>
        <div class="form-group " >
            <label class="control-label">Id</label>
            <input type="text" class="form-control" th:field="*{id}"/>
        </div>
        <div class="form-group" >
            <label class="control-label">Title</label>
            <input type="text" class="form-control" th:field="*{title}"/>
        </div>
        <div class="form-group" >
            <label class="control-label">Decription</label>
            <input type="text" class="form-control" th:field="*{description}"/>
        </div>
        <div class="form-group" >
            <label class="control-label">Time</label>
            <input type="text" th:field="*{minutes}"/>
        </div>
        <div class="form-group label-floating">
            <label class="control-label">Category</label>
            <select class="form-control" th:field="*{category}">
                <option value="THEORY">theory</option>
                <option value="EXERCISE">exercise</option>
                <option value="DISCUSSION">discussion</option>
                <option value="DEBRIEFING">debriefing</option>
                <option value="ENERGIZER">energizer</option>
                <option value="BREAK">break</option>
            </select>
        </div>
        <input type="submit" th:value="Submit"/>
    </form>
</div>

</body>
</html>